@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html, body {
  overflow-x: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #FDC65C;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Arial, Helvetica, sans-serif;
  --font-helvatica: 'Helvetica Neue', Arial, sans-serif;
  --font-mono: monospace;
  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-helvatica);
}

h1 {
  font-family: var(--font-helvatica);
  font-weight: 700 !important;
  font-size: 38px !important;
  color: #fff;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 42px;
    line-height: 52px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
}

p {
  font-family: var(--font-helvatica);
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: #E5EAFA;
}

.highlight {
  color: #FDC65C;
  font-weight: 700;
}

input {
  width: 100%;
  height: 46px;
  border-radius: 0.375rem;
  padding: 0 0.75rem;
  color: #fff;
  background: transparent;
  border: 1px solid #4b5563;
  outline: none;
  background-color: #223544;
  border: 1px solid #FFFFFF4D;
}

input::placeholder {
  color: #9CA3AF;
}

.btn-primary {
  background-color: #FF5302 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  text-transform: none !important;
}

.btn-primary:hover {
  background-color: #E03E00 !important;
  color: #ffffff !important;
}

.btn-secondary {
  background-color: #FDC65C !important;
  color: #ffffff !important;
  width: 52% !important;
  font-weight: 500 !important;
  text-transform: none !important;
}


.btn-outline {
  border-color: white !important;
  color: white !important;
  font-weight: 500 !important;
  text-transform: none !important;
}

.btn-outline:hover {
  color: white;
  transform: none;
}

.btn-white {
  background-color: white !important;
  color: #0F2438 !important;
  text-transform: none !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  padding: 0.5rem 1.25rem !important;
  width: 120px !important;
  border-radius: 8px !important;
  border: none !important;
  transition: all 0.3s ease-in-out !important;
}

.btn-white:hover {
  background-color: #f2f2f2 !important;
}

.btn-danger {
  border: 1px solid #FF5302 !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  text-transform: none !important;
  background-color: transparent !important;
  padding: 8px 20px !important;
  border-radius: 6px !important;
  transition: all 0.3s ease !important;
}

.btn-danger:hover {
  background-color: #FF5302 !important;
  color: #ffffff !important;
}

.animation{
  transform: translateY(-30px) !important;
  padding-bottom: 56px;
  height: 100%;
  background-image: linear-gradient(
  to top,
  #081017 20%,
  #081017 10%,
  rgba(0, 0, 0, 0.45) 60%,
  rgba(0, 0, 0, 0.1) 85%,
  rgba(0, 0, 0, 0) 100%
);
transition: all 2s;
}

.animate:hover .animation{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(-384px) !important;
}

@layer utilities {
  @media (max-width: 752px) {
    #mainContainer {
      @apply flex flex-col gap-[50px] items-center;
    }
    .driven {
      @apply w-[80%] ml-0!
    }
    .requirement {
      @apply justify-center!
    }

    #container {
      width: 80% !important;
    }

    #form {
      width: 80%;
    }

    #rating {
      width: 90%;
    }
  }

  @media (max-width: 1023px) {
    #form {
      @apply h-full;
    }
  }

  @media (max-width: 1300px) {
    .features {
      @apply flex-col flex-wrap gap-10 h-[60%];
    }

    .whychooseholder {
      @apply h-[70%]
    }
  }

  @media (max-width: 1080px) {
    .features {
      @apply h-[75%];
    }

    .minfeatures {
      @apply w-[40%] h-[25%];
    }

    .whychooseholder {
      @apply h-[85vh]!;
    }
  }

  @media (max-width: 550px) {
    .features {
      @apply h-[80%] w-[90vw];
    }

    .minfeatures {
      @apply w-[40vw];
    }
  }

  @media (max-width: 414px) {
    .features {
      @apply w-[80%] flex-nowrap;
    }

    .minfeatures {
      @apply w-full;
    }

    .whychooseholder {
      @apply h-[150vh]!;
    }
  }
}